<body>
    <!-- ! Determine the Navigation Pannel -->
    <nav>
        <div id="iconText">
            <p>Web Chatting App</p>
        </div>
        <div id="navElements">
            <ul>
                <li>Home</li>
                <li>Contact Developer</li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">About Application</button>
                        <div class="dropdown-content">
                            <a href="#">How Application works??</a>
                            <!-- <a href="#">How Application maded??</a> -->
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>