<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Application</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Concert+One&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            overflow-x: hidden;
        }

        #BodyElement {
            position: relative;
            height: 100vh;
            width: 100vw;
            background: #fff;
            color: #303030;
        }

        header {
            position: relative;
            height: 20vh;
            width: 100vw;
            background-color: #6CC4A1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            line-height: 1.5;
        }

        header>p {
            font-size: 3.5rem;
            font-weight: 800;
            font-family: 'Concert One', cursive;
        }

        header>span {
            font-size: 1rem;
            font-weight: 400;
            position: relative;
            left: 5vw;
            bottom: 0.5vh;
            font-family: 'Comfortaa', cursive;
        }

        section {
            position: relative;
            height: 77vh;
            width: 100vw;
            padding: 10vh 8vw;
        }

        section>#intro {
            margin-bottom: 10vh;
            font-size: 2rem;
            font-weight: 600;
            font-family: 'Concert One', cursive;
        }

        section>#direction {
            position: relative;
            line-height: 1.5;
            display: flex;
            flex-direction: column;
        }

        section>#direction>p {
            font-size: 1.8rem;
            font-weight: 550;
            padding-bottom: 3vh;
            font-family: 'Concert One', cursive;
        }

        section>#direction>span {
            font-size: 1.4rem;
            font-weight: 550;
            font-family: 'Comfortaa', cursive;
        }

        section>#direction>.Thanking {
            font-size: 2rem;
            font-weight: 600;
            font-family: 'Concert One', cursive;
        }

        section::-webkit-scrollbar {
            width: 0.8vw;
        }

        section::-webkit-scrollbar-button {
            height: 100vh;
        }

        section::-webkit-scrollbar-thumb {
            background: black;
        }

        section::-webkit-scrollbar-track {
            background: transparent;
            border: 1px solid black;
            border-right: 2px solid black;
        }
    </style>
</head>

<body>
    <div id="BodyElement">
        <header>
            <p>About Application</p>
            <span>Rules you have to follow...</span>
        </header>
        <section>
            <div id="intro">This is an Online Group Chatting Application, build on HTML(for structure), CSS(for
                designing), JavaScript Modules like Node Js, Express Js(for linking pages), Body-Parser JS, Mongoose
                JS(for DataBase)</div>

            <div id="direction">
                <p>Direction To Follow (including Rules):</p>
                <span>1.The app starts with a <b>SIGN IN Page</b>, which acts as our root directory.</span>
                <br>
                <span>2.Data provided by the user will be compared within the database. If the values given by the user and those in the database are identical, then the user will be rendered to the <b> HOME Page</b>, otherwise back to the SignIn Page with an Error displayed.</span>
                <br>
                <span>3. If a user hasn't had a pre-registered account, then he/she can register themselves on the <b>REGISTRATION Page/SIGN UP Page.</b></span>
                <br>
                <span>4. On the registration page, the user had to register his/her name, email, and password while agreeing to the <b>TERMS AND CONNDITIONS</b> .</span>
                <br>
                <span>5. The first text on the <b>HOME Page</b> will be from the Developer, explaining the basic rules for starting instant chatting.</span>
                <br>
                <span>6. Previous comments will be displayed with the sender's name and message timing, rendered on the left side, while the user message will be shown on the right side.</span>
                <br>
                <span>7. For replying, click on the reply button to redirect to the <b>MESSAGE REPLY Page</b> .</span>
                <br>
                <span>8. The <b>REPLY Page</b> will show the user's name, and below it there is a reply box, which has a limit of 250 words. If the user exceeds the word limit, the reply box's border colour changes and the submit button becomes faded and unresponsive, unless the user rewrites the message within the word limit.</span>
                <br>
                <span>9. On submitting the reply message, you will be taken to the <b>HOME page</b> , where you can see your comments and the latest and previous comments in left and right order as described above.</span>
                <br>
                <span>10. Sorry, this webapp does not contain a log out button. So, you need to get back to the root branch (sign in page). For that, remove the last word after "/" and load the page, or you can just re-load this website with the same link you used to load it in the first place.</span>
                <br><br><br>
                <span class="Thanking">Thank you for using this application.</span>
                <span class="Thanking">I hope you will have a look at some more awesome projects developed by ME.</span>
            </div>
        </section>
    </div>
</body>

</html>