<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat WebApp</title>
    <link rel="stylesheet" href="css/home.css">
</head>


<%- include partials/navbar.ejs %>

<!-- ! Determine the body -->
<section>
    <main>
        <div class="date">
            <p>26 July</p>
        </div>
        <div class="message ">
            <div class="titleName ">sharad maliwal <small>2:30pm</small> </div>
            <p class="titleContent">Hello how are you</p>
        </div>
        <div class="message ">
            <div class="titleName ">divyansh yadav <small>2:35pm</small> </div>
            <p class="titleContent">why do you care !!</p>
        </div>
        <div class="date">
            <p>26 July</p>
        </div>
        <button>Send msg</button>
    </main>
</section>


<%- include partials/footer.ejs %>