<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User</title>
    <link rel="stylesheet" href="css/registerUser.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Concert+One&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="formContainer">
            <p>Register User</p>
            <form action="/registerUser" method="post">
                <input type="text" name="regUserName" id="" placeholder="Name" required>
                <input type="email" name="regUserEmail" id="" placeholder="E-mail" required>
                <input type="password" name="regUserPassword" id=" " placeholder="Password" required>
                <span><input type="checkbox" name="" id="" required style="box-shadow: none;">   I read and agree to <strong style="text-decoration: underline;"><a href="./termsAndConditions" target="_blank">Terms & Conditions</a> </strong></span>
                <button type="submit">CREATE ACCOUNT</button>
                <span>Already have an account? <strong style="text-decoration: underline;"> <a href="./">Sign In</a> </strong></span>
            </form>
        </div>
    </div>
</body>

</html>