<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Message</title>
    <link rel="stylesheet" href="css/replyMsg.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <!-- ! Determine the Navigation Pannel -->
    <nav>
        <div id="iconText">
            <p>Web Chatting App</p>
        </div>
        <div id="navElements">
            <ul>
                <li><a href="./home" style="color: white; text-decoration: none">Home</a></li>
                <li>Contact Developer</li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">About Application</button>
                        <div class="dropdown-content">
                            <a href="./aboutApplication" target="_blank">How Application works??</a>
                            <!-- <a href="#">How Application maded??</a> -->
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

<section>
    <div class="formContainer">
        <div class="formArea">
            <div class="messageHeader">
                <p>New Message</p>
            </div>
            <form action="/replyMsg" method="post">
                <span class="userNameArea">
                    <label for="userName">From: </label>
                    <div><button id="inputName" aria-placeholder="User's Name"><%= SignedUserName %></button></div>
                </span>
                <textarea name="signUserMessage" id="Message" placeholder="Type Here... "></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="textContainer">
        <div class="textBox">
            
        </div>
    </div>
</section>
</body>

</html>