<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="css/signIn.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Oxygen&display=swap"
        rel="stylesheet">
</head>


<body>
    <div class="container">
        <div class="formContainer">
            <section>
                <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
                <p>Log In / Sign In</p>
                <ul>
                    <div>
                        <label for="userName">User-Name:</label>
                        <input type="text" name="userName" id="userName" placeholder="User Name" required>
                    </div>
                    <div>
                        <label for="userPassword">Password:</label>
                        <input type="password" name="userPassword" id="userPassword" placeholder="Password" required>
                    </div>
                    <span class="toLeft">Forget Password ?</span>
                </ul>
                <button type="submit">Log In</button>
                <span id="backToReg">Don't have an account? <strong style="color: blue;"><u>Sign Up</u></strong></span>
            </section>
        </div>
        <div class="sideContainer">
            <div id="signUpImgHere"></div>
            <p>By Dev Chouhan</p>
        </div>
    </div>
</body>

</html>