<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>terms&Conditions</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            padding: 3vh 5vw 5vh 1vw;
            margin: 0 0 0 0;
            height: 100vh;
            width: 100vw;
            overflow-x: hidden;
            background: linear-gradient(90deg, #6CC4A1 10%, #fff 10%);
        }

        #Heading {
            height: 23vh;
            width: 100vw;
            background-color: rgb(48, 48, 48);
            color: #fff;
            position: relative;
            top: 0%;
            left: 0%;
            margin-bottom: 3vh;
        }

        #Heading>h1 {
            font-size: 4rem;
            position: relative;
            padding: 10vh 0 0 11vw;

        }
        h2{
            line-height: 2.8;
        }
        h2, p{
            margin-left: 10em;
        }
        p{
            font-size: 1.2rem;
            line-height: 2;
        }
    </style>
</head>

<body>
    <div id="Heading">
        <h1>Terms And Conditions</h1>
    </div>
    <p style="font-size: 1.5rem; font-weight: 500;">This Agreement includes provisions and conditions that restrict our liability to you. Please read the
        Agreement to the full extent before you proceed to using and accessing the Application in any form. If you do not agree
        with any of the terms and conditions stipulated below, please do not use or access the Application
        further.
    </p>
    <br> <br>
    <h2> 1. Definitions</h2>

    <p>1.1. The terms “us”, “we”, and “our” refer to the owner of the Application (hereinafter</p>

    <p>referred to as “Company”).</p>

    <p>1.2. The term “User” is someone who uses the Application.</p>

    <p>1.3. The term “Service” refers to any of the services provided by and available in the</p>

    <p>Application.</p>

    <p>1.4. The term “Product” refers to any products we sell or give away.</p>

    <p>1.5. All information including text, graphics, design and data offered through this</p>

    <p>Application and its Services are collectively named as “Content”. We also distinguish the content and
        personal
        data made available in any way by our Users as “User Content”.</p>

    <br> <br>
    <h2> 2. Acceptance of the Agreement, License and Relationships</h2>

    <p>2.1. This Agreement is concluded between you and the Company (hereinafter jointly designated as “Parties”).
    </p>

    <p>2.2. By using the Application, you confirm that you have read and fully comply with all the terms and
        conditions
        of the Agreement every time you use the Application. You also agree to provide compliance with these
        provisions
        and features by any person who uses our Application on your mobile phone, PC, tablet or any other devices.
    </p>

    <p>2.3. This Agreement represents the only and complete Agreement between you and the Company and supersedes and
        replaces all other agreements, warranties, liabilities and understandings between the Parties as far as our
        Application and its Services are concerned unless otherwise stated. However, you may also be required to
        comply
        with additional terms and conditions when using or accessing our Application and Services. Those additional
        conditions are to be included into this Agreement unless indicated otherwise.</p>

    <p>2.4. The Company grants you a revocable license to access and use our Application and Services strictly in
        accordance with this Agreement. Your use of our Application and Services is for internal and personal
        purposes
        unless otherwise set forth in this Agreement.</p>

    <p>2.5. This Agreement by no means establishes any partnership, joint venture, or</p>

    <p>employee-employer or franchisor-franchisee relationship between the User and the Company.</p>

    <br> <br>
    <h2> 3. Application: Registration, Obligations and Security</h2>

    <p>3.1. You must be 18 (eighteen) (or of the age considered legal in your country or locality if different than
        18)
        to register at, use or access the Application.</p>

    <p>3.2. Organizations and other artificial units are not allowed to register as Users of the Application or use
        the
        Application for any purpose.</p>

    <p>3.3. The use or access by specifically defined groups of persons shall be considered as deprived of legal
        validity if this is prohibited by any law.</p>

    <p>3.4. By registering at and using or accessing the Application, you admit that you are a person of full legal
        age
        (in accordance with the laws of your country or locality) with the right and capacity to conclude this
        Agreement
        and to follow each of its provisions.</p>

    <p>3.5. By using and accessing the Application you agree to comply with all domestic and international laws and
        regulations related to the use of our Application, its Services as well as copyright and trademark laws
        regarding the Content.</p>

    <p>3.6. The Company reserves exclusive right to decide whether to accept or reject User’s registration with or
        without any explanation.</p>

    <p>3.7. You agree to ensure confidentiality of your password, account data and personal information that are
        required during the registration procedure at our Application.</p>

    <p>3.8. You also confirm that you take responsibility for the security of the device you use. You acknowledge
        that
        neither the Company nor any other third party shall be liable for the losses inflicted by your negligent
        attitude to the safety of the device you use or to the security of your personal data.</p>

    <p>3.9. You agree to notify us of any illegal use of your account information or any security infraction
        immediately.</p>

    <br> <br>
    <h2> 4. Application: Intellectual Property</h2>

    <p>4.1. All the Content of the Application is subject to exclusive rights of the Company, Users and other rights
        holders with all rights reserved.</p>

    <p>4.2. Unless otherwise stated by these Terms and Conditions as well as by any relevant applicable law, no
        Content
        may be copied, reproduced, distributed, processed, transferred, displayed, published, downloaded, sold or
        used
        in full or in part in any other way without the prior permission of the right owner. Any unauthorized
        reproducing, copying, collecting, systemizing, storing and transferring the Content for commercial or
        non-commercial purposes is not allowed without the Company's permission.</p>

    <p>4.3. The User grants other Users a non-exclusive right to access their User Content within the framework of
        the
        functionality of the Application by viewing, reproducing, copying and other rights solely for personal
        non-commercial use, except for cases when such use may infringe the right owner’s interests protected by
        law.
        The User Content made thus available for personal non-commercial use can be only used under the condition
        that
        all copyright marks and other notices of intellectual property remain unchanged.</p>

    <p>4.4. The User also grants the Company a non-exclusive right to use their Content by copying, reproducing,
        processing, translating and distributing for the purposes of the Company.</p>

    <p>The User grants to the Company a non-exclusive right to use their Content on a free-of-charge basis to
        maintain
        the functioning of the Application in the scale provided by its architecture.</p>

    <p>4.5. The above-mentioned non-exclusive right remains valid for the period the Content is available in the
        Application and extends to the territory of the countries worldwide. The Company has the right to transfer
        the
        rights described in this clause to third-parties.</p>

    <p>4.6. In case the User deletes their Content from the Application, the mentioned non-exclusive rights will be
        automatically shelved. The Company reserves the right to store and backup copies of the User Content during
        the
        required period of time for internal purposes.</p>

    <p>4.7. The User is not allowed to make available any content except for their own Content taken from other
        applications, web sites and other intellectual property without the owner’s consent. The use of the
        Application
        or Content without the prior written permission of the intellectual property owner is strictly prohibited.
    </p>

    <p>4.8. None of these Terms unless stated otherwise may be considered as granting intellectual property related
        rights to the Content.</p>

    <p>4.9. The use of our service marks, trademarks, graphics, text, logos as well as any copyright notices that
        our
        Application may contain is prohibited without the prior written permission of the</p>

    <p>Company or of any related third-party intellectual property owners.</p>

    <p>4.10. The User bears personal liability for any Content they make available in the Application. The User is
        not
        allowed to publish, upload, transfer or otherwise make available Content through the Application unless they
        acquired such rights in accordance with any relevant legislation. In case any intellectual property rights
        infringements being discovered, please submit a complaint with us via our Customer Support.</p>

    <p>4.11. We have a right but are not obliged to check the Application for prohibited Content and can remove any
        Content at our own discretion without giving any customer notification.</p>

    <br> <br>
    <h2> 5. Application: Links and References</h2>

    <p>5.1. The Application may contain links to other web-sites and applications (hereinafter referred to as “Third
        Parties’ Websites and Applications”). The Company bears no liability for third-party websites; you access
        third-party websites at your own risk.</p>

    <p>5.2. The Application may contain links to Third Parties’ Websites and Applications as well as text, photos,
        graphic images, music, sound, video, software and other content belonging to the mentioned third parties
        (hereinafter referred to as “Third Parties’ Content”), which is their intellectual property protected by
        relevant laws.</p>

    <p>5.3. Presence of any links to any Third Parties’ Websites and Applications in the Application in no case
        implies
        that we recommend, approve or promote in any way the services, products, content, data or software of any
        nature
        whether commercial or non-commercial provided by Third Parties’ Websites and Applications.</p>

    <p>5.4. We do not check the Third Parties’ Content for compliance with any legislation as well as for
        truthfulness
        of any information or statements expressed by Third Parties’ Websites and Applications.</p>

    <p>5.5. If the User leaves the Application or starts using any third parties’ software at their own risk, these
        Terms and Conditions cease to apply to the User.</p>

    <p>5.6. You are allowed to provide links to our Application (including API-embedding or other methods) under the
        condition that you do not remove in any way any portion of our Application and your platform, application or
        website is not engaged into any illegal activities. By giving links to our Application you also agree that
        we
        may demand you to remove or delete those links any time.</p>

    <br> <br>
    <h2> 6. User’s Rules of Conduct</h2>

    <p>6.1. Users of the Application may make their Content available while using the Application. This User Content
        may
        be of objectionable or offensive nature. We do not control, monitor or filter User Content and do not
        guarantee
        its quality. Any User Content violating any legislation, the Company may report on this Content to the
        relevant
        authorized bodies.</p>

    <p>6.2. In case any User, User’s actions or User Content found as violating these Terms and Conditions, the
        Company
        reserves the right to restrict the use of the Application (“temporary ban”) for this User or to revoke this
        Agreement, and thus cease the User’s membership in the Application (“permanent ban”) with or without giving
        them
        any notification. The Company may change ban periods for temporary bans at its discretion without any
        liability
        to the User.</p>

    <p>6.3. The Company may remove any Content that may be regarded as offensive or illegal in any way or violates
        this
        Agreement.</p>

    <p>6.4. As a User, you agree not to make available or distribute in any way any User Content that:</p>

    <p>a. Violates any international, federal or local laws;</p>

    <p>b. Infringes any proprietary rights of any party, including copyrights, patents, trademarks, etc;</p>

    <p>c. Depictions of sexual nudity, or sexually suggestive poses in which the subject is nude, blurred or
        minimally
        clothed, and/or where the clothing would not be acceptable in an appropriate public context;</p>

    <p>d. Depictions, animations or illustrations of sex acts, or sexually suggestive poses or the sexual depiction
        of
        body parts;</p>

    <p>e. Content that depicts, describes, or encourages bestiality;</p>

    <p>f. Harms, threatens, defames, promotes racism, bigotry, hatred, violence or illegal activities, or is
        abusive,
        harassing, vulgar, obscene, tortuous, libelous, invasive of another’s privacy, hateful, or racially,
        ethically,
        or otherwise objectionable or unlawful;</p>

    <p>g. Promotes in any way making unauthorized copies of content owned by other person and protected by
        copyright,
        including pirated computer software, media content or links to it;</p>

    <p>h. Provides false and misleading information or approves obscene, threatening or indecent behavior;</p>

    <p>i. Demonstrates the content of a sexual or violent exploitation of persons under 18 years, as well as foul
        words,
        profanity, false information about incest, rape, necrophilia, including any data of another User, threat of
        suicide, harm oneself or others, promiscuity, etc;</p>

    <p>j. Requests or contains any personal data from other Users or of any third party for commercial or illegal
        purposes;</p>

    <p>k. Gives detailed information on any illegal activities such as producing or buying illegal</p>

    <p>weapons, drugs, invading privacy; involves into contests, exchange, pyramid and any fraudulent schemes;</p>

    <p>l. Distributes unauthorized advertisements, promotional content, junk and spam mail or any kind of
        solicitation;
    </p>

    <p>m. Contains viruses, malwares or any software aimed at producing any harm to the functionality and integrity
        of
        soft- and hardware as well as extracting data from the Application;</p>

    <p>n. The Company enjoys exclusive right to prohibit using the Application and its Services in any way that may
        subject the Company, its affiliates, or its Users to any harm or liability of any type.</p>

    <p>6.5. The User is also forbidden to:</p>

    <p>a. Develop similar or competing software, make compilations on the basis of the Application and its services
        and
        distribute those in any form;</p>

    <p>b. Modify the source code in any way, decompile or disassemble the Application and any related software;</p>

    <p>c. Use the Application and/or Services in a way that contradicts this Agreement or any law whether
        international,
        federal or local.</p>

    <p>6.6. The User also agrees not to:</p>

    <p>a. Use any hard- or software to cause any damage to the Application and its functioning;</p>

    <p>b. Execute any unlawful activity involving the Application;</p>

    <p>c. Take actions that subject the Company’s servers to excessive overload or cyber-attacks and agrees to
        inform
        the Company about the fact if the User happens to learn about any;</p>

    <p>d. Advertise or promote in any manner any products or services among other Users;</p>

    <p>e. Allow minors to use the Application in any way and use necessary parental control tools to prevent such
        cases;
    </p>

    <p>f. Use the Application in countries and localities where such use may be regarded as violating any
        legislation or
        custom;</p>

    <p>g. Record, capture, intercept, broadcast or copy in any manner any Content including User Content,
        interactions
        with other Users or any confidential information (during video or text chatting, for example), and disclose
        it
        in any other way unless otherwise permitted by relevant federal and international laws;</p>

    <p>h. Request the removing of any content the User voluntarily submitted to the Company</p>

    <p>for advertising purposes, for example, during contests. Participating to contests and submitting content that
        can
        be used for advertising is not mandatory.</p>

    <p>6.7. Provided the Company does not moderate the User Content systematically, you agree to take all possible
        risks
        in case when you face the content that may be regarded as abusive or inappropriate but choose to continue
        using
        the Application.</p>

    <br> <br>
    <h2> 7. Unlawful Activities</h2>

    <p>7.1. The Company reserves the right to consider reported violations of these Terms and Conditions and other
        complaints as well as to take any proper activities including appeals to respective law enforcement bodies
        and
        authorized regulators. The Company may also disclose for those bodies any personal data related to the User
        including but not limited to e-mail, IP addresses, usage history, etc.</p>

    <br> <br>
    <h2> 8. Minutes</h2>

    <p>8.1. The User may be able to use the video chat for free. We reserve the right to modify or limit this free
        access at any time and at our sole discretion. We are free to require the user to register or purchase
        additional minutes ("Extra Minutes") at any time to continue accessing the video chat or any of the site
        features.</p>

    <p>8.2. Outside the context of free minutes, a User should have prepaid Minutes on one’s account in order to use
        the
        video chat feature.</p>

    <p>8.3. From time to time, there are events in the Application (for example, promotional events). If the event
        represents a gift for the registration, then it is meant only for the new users, who create an account with
        the
        system for the first time. Changing or creating a new account does not grant you the right to get the
        respective
        bonuses and discounts.</p>

    <p>8.4. Currently, there are the following Extra Minute Packages on our site:</p>

    <p>(a) 15 min - 15.90 USD (One time purchase)</p>

    <p>(b) 45 min – 47.90 USD (One time purchase)</p>

    <p>(c) 90 min – 86.90 USD (One time purchase)</p>

    <p>8.5. When the Extra Minute Package is paid in a different currency, the money is converted at your Bank’s
        current
        exchange rate.</p>

    <p>8.6. After you have used all of your free Minutes, you can still buy Extra Minutes to continue using the
        video
        chat or the video chat messenger.</p>

    <p>8.7. The available Extra Minute Packages are available on the payment page. The Extra Minutes packages can be
        changed by us from time to time. You agree that the Company shall not be liable to you or other Application
        users for any changes made to the number of Minutes or the price.</p>

    <p>8.8. Only purchased Minutes will allow you to use the video chat and the video without time restrictions.</p>

    <p>8.9. We reserve the right to delete your Extra Minutes after 365 days of inactivity.</p>

    <br> <br>
    <h2> 9. Payments and Refunds</h2>

    <p>9.1. There are several ways to replenish the account balance. The ways of account replenishment can be
        changed by
        us. You agree that the Company is not liable to you for changing the replenishment methods.</p>

    <p>9.2. The minimum amount of money you can replenish your Application account with is determined according to
        the
        chosen replenishment method and may also be changed from time to time. You agree that the Company shall not
        be
        liable to you or other Application Users for any changes made to replenishment methods list, or any changes
        made
        to the minimum amount of Coins to be deposited to the Application account balance.</p>

    <p>9.3. Every refund request is handled on a case by case basis.</p>

    <p>9.4. Extra Minute Packages purchases are one time purchases.</p>

    <p>9.5. If you have any further questions about billing and payment systems you will need to contact us at
        support@mirami.chat.</p>

    <p>9.6. If you disagree with the amount deducted from your bank card you agree to contact us before you contact
        your
        bank card issuer to cancel the payment (“chargeback”). You agree to contact our Customer Support and specify
        the
        reason why you disagree with the amount deducted from your bank card. We will review your claim within 24
        hours
        and refund the disputed amount to your bank card if your claim is considered valid. The refund (if your
        claim is
        approved) may take up to 15 (fifteen) business days. In case we have declined your chargeback request, you
        then
        may proceed with further action and contact your bank card issuer.</p>

    <p>9.7. The money charged from your bank card or any other method will not be refunded despite of any reason
        specified in your refund request if you dispute the amount charged after you have run out of Minutes.</p>

    <p>9.8. In case you have any questions related to your account balance replenishment or if you disagree with the
        amount deducted from your account, you can contact our Customer Support.</p>

    <p>9.9. If you purchase something from us, you also represent and warrant that:</p>

    <p>(a) Any payment information you supply is true and complete,</p>

    <p>(b) Charges incurred by you will be honored by your bank or credit card company,</p>

    <p>(c) You will pay the charges incurred by you at the posted prices, including any applicable taxes,</p>

    <p>and</p>

    <p>(d) If your initial payment method is dishonored, you will still pay the incurred charges, including any
        surcharge we may incur due to the dishonored payment.</p>

    <p>9.10. We use third-party services for processing payments. We use our commercially reasonable efforts to make
        sure your credit card number is kept strictly confidential by using only third-party billing services that
        are
        GDPR compliant and use industry-standard encryption technology to protect your credit card number from
        unauthorized use. However, you understand and agree that we are in no way responsible for any misuse of your
        credit card number.</p>

    <br> <br>
    <h2> 10. Payments Verification Data and Other Data</h2>

    <p>10.1. The Company is entitled to request data from Users in order to verify payments. This data can be
        either,
        passport details, or another ID. The data may also be used as evidence that the Application was actually
        used by
        the User in case a dispute arises between us and the User.</p>

    <p>10.2. If you want to make sure that it is the Company who requests the data from you, you can contact us at
        support@mirami.chat.</p>

    <p>10.3. In case any dispute arises between the Company and the User, the Company also reserves the right to use
        as
        evidence confirming that you were actually using the Application (in some cases – as evidence of you being
        the
        real account owner) and provide to the relevant authority the following information: your Avatar;
        screenshots
        made by the system when you were searching for interlocutors; your IP-address; your country, region and
        city;
        type of browser and operation system that you were using.</p>

    <p>10.4. To see how we process your data in more detail (for example, for how long we store your data, what we
        do
        with it and why), please, refer to our Privacy Policy.</p>

    <br> <br>
    <h2> 11. Disclaimers: Errors and Third-Party Content</h2>

    <p>11.1. We do not guarantee that the Application will not contain errors, viruses or any harmful components as
        well
        as that the information and data that was made available via our Services will be truthful and reliable.</p>

    <p>11.2. Any Content made available by Third Parties in the Application (by other Users, for example) is out of
        the
        Company’s control. The Company is not liable for accuracy or legal compliance of the data and content
        provided
        by these parties.</p>

    <p>11.3. The Company does not control and thus not responsible for any products and services offered by Third
        Parties. The Company is not involved into any form of possible interaction between you and Third Parties.
        You
        agree that by using the Third Parties’ goods and services you bear full responsibility for this.</p>

    <p>11.4. You acknowledge that no Content made available in the Application including the Content provided by
        Third
        Parties (by other Users, for example) does not establish any kind of financial, legal or professional advice
        or
        professional relationship between you and the Company. The Company does not control and not liable for what
        Users share or post.</p>

    <br> <br>
    <h2> 12. Disclaimers: Liabilities and Limitations of Liabilities</h2>

    <p>12.1. The Application and its Services may become temporarily unavailable for maintenance or other reasons
        and
        the Company bears no responsibility for any loss, interruption, delay or failure during User interaction and
        use
        of the Application that may result due to those reasons.</p>

    <p>12.2. The Company takes no responsibility for any technical failures of User devices, hardware, equipment or
        physical or mental injury or damage of any kind incurred to the User that may result from using the
        Application
        and the Services.</p>

    <p>12.3. The Application provides the Content and all information on the as-is basis with all implied warranties
        disclaimed.</p>

    <p>12.4. The Company does not guarantee any result or effect of any kind from using the Content and the
        Application.
        Liability for all possible losses or damages that may be incurred to the User is disclaimed. The User agrees
        to
        bear sole responsibility for all possible special or incidental damages and harm that may result from using
        the
        Application.</p>

    <p>12.5. The negation and restriction of damages mentioned above are the essential components of the Agreement
        between the User and the Company.</p>

    <p>12.6. Links and references to any services, products and information provided in any form via the Application
        does not imply any kind of recommendation or promotion by the Company.</p>

    <p>12.7. In no form the Company will be responsible for any consequential, indirect or special damage or loss
        including loss of data or possible profit that may result from use of the Application and related Services.
        Notwithstanding anything to the contrary contained herein, the company’s liability to you for any cause
        whatsoever, and regardless of the form of the action, will at all times be limited to the amount which is
        equivalent to the number of minutes available at the user’s application account balance at the moment of
        filing
        the claim. Minutes’s value is calculated according to the method of payment that was selected by the user
        when
        purchasing the minutes. Because some jurisdictions do not allow the exclusion or limitation of consequential
        or
        incidental damages, the company’s liability shall be limited to the fullest extent permitted by law.</p>

    <br> <br>
    <h2> 13. Loss Recovery and Equitable Remedies</h2>

    <p>13.1. You agree to defend and indemnify the Company and its affiliates against and from any third-party
        claims,
        losses, damages and expenses incurred by us arising from your use of the Application or any related
        Services.
    </p>

    <p>13.2. You agree that the Company shall be entitled to appropriate equitable remedy in the case the provisions
        of
        this Agreement are not followed to or enforced by you fully and properly and that the awarding of equitable
        relief to the Company will not limit its ability to receive remedies that are otherwise available to the
        Company
        under related laws.</p>

    <br> <br>
    <h2> 14. Alterations and Amendments</h2>

    <p>14.1. The Company reserves the right to modify this Agreement (and every subsequent “New Agreement”) at its
        own
        discretion.</p>

    <p>14.2. This Agreement will lose its force immediately upon the introduction of a New Agreement or a New
        Privacy
        Policy. New Agreements are not applied retroactively. You will be allowed to review the New Agreement before
        choosing whether to accept or reject new terms. The Company will notify you of any changes or modifications
        via
        special notification. The fact that you continue use of the Application within 4 (four) weeks following the
        special notice on the modified Agreement will mean that you accept the amended Agreement.</p>

    <p>14.3. If you accept the New Agreement, you will be allowed to continue using the</p>

    <p>Application under the amended terms.</p>

    <p>14.4. If you decline or cannot follow the new terms, you will no longer be permitted to use the Application.
    </p>

    <p>14.5. The Company may modify, suspend, discontinue or restrict User’s access to any component or feature of
        the
        Application (including redesign, change of the Content, internal tools and related services, etc.) anytime
        without any notice or liability.</p>

    <br> <br>
    <h2> 15. Term and Termination</h2>

    <p>15.1. This Agreement enters in force on the date you start using the Application and shall remain</p>

    <p>in force until either it is terminated or superseded by a New Agreement, or until you cease using the
        Application. In the case the Company chooses to stop providing the Application or its Services, or grant
        rights
        to a third party to provide the Application, it shall notify you no less than 7 (seven) days prior to the
        fact.
    </p>

    <p>15.2. You have the right to terminate this Agreement at any time by notifying the Company via</p>

    <p>email at support@mirami.chat or via Customer Support.</p>

    <p>15.3. We reserve the right to terminate this Agreement at any time at our own discretion with or without
        noticing
        you or any User who may be considered as violating these Terms and Conditions (“permanent ban”). In case of
        less
        severe violations of this Agreement, we may also provide you with a warning or temporary ban.</p>

    <br> <br>
    <h2> 16. Severability and Survival of the Agreement</h2>

    <p>16.1. Any provision or part of this Agreement recognized invalid, this part shall be severed with full force
        given the rest of the Agreement. The Agreement is given priority in the case any Content enters into
        contradiction with these terms. Our rights and other provisions (such as copyright, trademarks, limitation
        of
        liabilities, etc.) of the Agreement will survive any termination of this Agreement.</p>

    <br> <br>
    <h2> 17. Jurisdiction and Dispute Resolution</h2>

    <p>17.1. This Agreement will be governed and come into compliance with the laws of Slovak Republic, without
        regard
        to conflict of laws principles.</p>

    <p>17.2. In case of any dispute between the Company and the User as far as the Application or the Services are
        concerned, the Parties to this Agreement must undertake all possible efforts to resolve the dispute
        peacefully
        without legal argument. In case settling those disputes with negotiation is impossible, the Parties agree to
        submit to the jurisdiction of the courts of Slovak Republic.</p>

    <p>17.3 This document is written in English. In case of doubt or disagreement with the interpretation of the
        document as well as execution of its provisions or settlement of disputes, or any other issues the English
        version is to be considered of prior relevance.</p>
    <br><br><br><br><br><br><br>
    </form>
</body>

</html>