* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #fff 70%, #6CC4A1 30%);
    height: 100vh;
    width: 100vw;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    position: absolute;
    height: 85vh;
    width: 92vw;
    margin: 7vh 4vw;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.75);
}

.container .formContainer{
    height: 100%;
    width: 60%;
    position: relative;
    float: left;
    background-color: #fff;
    font-family: 'Oxygen', sans-serif;
}

.container .sideContainer{
    height: 100%;
    width: 40%;
    position: relative;
    float: right;
    background-color: #6CC4A1;
}

section{
    position: relative;
    height: 80%;
    width: 60%;
    margin: 2vw auto;
    display: flex;
    flex-direction: column;
}

section i{
    margin: 0vw auto;
}

section p{
    margin: 1.1rem auto;
    font-size: 2rem;
}

section div, section span, section #logInButton{
    margin: 1.3rem 2rem;
}

section div {
    display: flex;
    flex-direction: column;
    line-height: 2;
}

section .toLeft{
    position: relative;
    left: 20vw;
    color: #4CACBC;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #6CC4A1;
    width: 29vw;
    height: 5vh;
    margin: 3px 2px;
    padding: 3px 2px;
    color: #4CACBC;
}

input:focus{
    border-bottom: 3px solid #6CC4A1;
    outline: none;
    background: #fff;
    color: #4CACBC;
    font-weight: 600;
    font-size: 1rem;
}


section #backToReg{
    position: relative;
    margin: 2.2vh 8vw;
}

section #logInButton{
    width: 88%;
    margin-top: 4vh;
    padding: 10px;
    background-color: #6CC4A1;
    color: #fff;
    border: 2px solid #6CC4A1;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

section #logInButton:hover{
    transition: all 500ms ease-in-out;
    border: 2px dashed #4CACBC;
    background-color: white;
    color: #4CACBC;
    font-size: 1.6rem;
    padding: 9px;

}

section span{
    cursor: pointer;
}

a:visited{
    color: #4CACBC;
}

.sideContainer div{
    height: 80%;
    width: 80%;
    margin: 2vw auto;
    
}

#signUpImgHere{
    position: relative;
    background-image: url(../images/SignUpImg.png);
    /* filter: invert(100%); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sideContainer p{
    position: relative;
    margin: 9vh 1vh;
    font-size: 1.3rem;
}
#signUpButton{
    padding:0px 0.5vw;
    background: transparent;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #4CACBC;
    cursor: pointer;
}

.error-container {
    background: #ff000033;
    color: #db0404;
    font-weight: 600;
    padding: 0px 16px;
    border-radius: 5px;
    font-size: 1.2rem;
    border: none;
}